{% extends "Municipality/municipality-standard.html" %}
{% block title %}Estatisticas{% endblock %}

{% block content-header %}Estadisticas de Denuncias

{% endblock %}

{% block content %}




    <script src="http://d3plus.org/js/d3.js"></script>
    <script src="http://d3plus.org/js/d3plus.js"></script>


    <div id="viz"></div>


    <script>
        var data = [
            {% for key, value in stats.items %}
                {
                    "Denuncias": {{ value }}, "name": "{{ key }}"

                }{% if  key != "Venta ambulante"  %}
                ,
            {% endif %}
            {% endfor %}
        ];
        d3plus.viz()
            .container("#viz")
            .data(data)
            .type("pie")
            .id("name")
            .size("Denuncias")
            .draw()
    </script>

    <form action="" method="POST">
    {% csrf_token %}

        Desde
        <input type="date" name="in">
        Hasta
        <input type="date" name="fin">
        <input type="submit" value="ver">
    </form>
    <script>
        var data = [
            {% for key, value in statsb.items %}
                {
                    "name": "{{ key }}", "Cantidad": {{value}}
                    {% if  key != "Venta ambulante"  %}},{% endif %}

            {% endfor %}

        ];
        var visualization = d3plus.viz()
            .container("#viz")
            .data(data)
            .type("bar")
            .id("name")
            .x("name")
            .y("Cantidad")
            .draw()
    </script>
{% endblock %}