{% extends "User/user-standard.html" %}
{% load static %}

{% block title %}Adopta!{% endblock %}

{% block content-header %}Adoptar{% endblock %}

{% block content %}

        
        

<script>
    function myMap() {
        var mapCanvas = document.getElementById("map");
        var myCenter = new google.maps.LatLng(-33.457394, -70.664601);
        var centerOne = new google.maps.LatLng(-33.453291, -70.667269);
        var centerTwo = new google.maps.LatLng(-33.455908, -70.674335);
        var centerThree = new google.maps.LatLng(-33.466617, -70.676903);
        var mapOptions = {center: myCenter, zoom: 15};
        var map = new google.maps.Map(mapCanvas, mapOptions);
        var myCity = new google.maps.Circle({
            center: myCenter,
            radius: 15,
            strokeColor: "#0000FF",
            strokeOpacity: 0.7,
            strokeWeight: 2,
            fillColor: "#0000FF",
            fillOpacity: 0.4
        });
        var map = new google.maps.Map(mapCanvas, mapOptions);
        myCity.setMap(map);
        google.maps.event.addListener(map, 'click', function (event) {
            placeMarker(map, event.latLng);
        });
        var infowindow = new google.maps.InfoWindow({
            content: "ONG Favorita"
        });
            {% if user.is_authenticated %}
        var markerOne = new google.maps.Marker({
            position: centerOne,
            icon: "favorito.png"
        });
        markerOne.setMap(map);
        infowindow.open(map, markerOne);
    }

    function placeMarker(map, location) {
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });
        var infowindow = new google.maps.InfoWindow({
            content: 'Nombre ONG'
        });
        infowindow.open(map, marker);
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKrwK5Ra7Lrbam0i1ifeMrlPHnN1Tctpk&callback=myMap"></script>

        {% endif %}

{% endblock %}
