{% extends "User/user-standard.html" %}
{% load static %}

{% block title %}Adopta!{% endblock %}

{% block content-header %}Adoptar{% endblock %}

{% block content %}

<div id="map" style="width:1350px;height:700px;background:yellow"></div>
	  {% if user.is_authenticated %}
    <script>
      	
 
      function initMap() {
        var infoWindow;
        var beau850 = {lat: -33.4400124, lng: -70.6782374};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: beau850
        });
        infoWindow = new google.maps.InfoWindow;
	var marker1 = new google.maps.Marker({
            position: {lat: -33.458773, lng: -70.663807},
	    url: 'usuario-out-ong.html',
	    icon: 'favorito.png',
            map: map
        });
	var marker2 = new google.maps.Marker({
            position: {lat: -33.456773, lng: -70.665807},
	    url: 'usuario-out-ong.html',
            map: map

        });
	var marker3 = new google.maps.Marker({
            position: {lat: -33.458786, lng: -70.660819},
	    url: 'usuario-out-ong.html',
            map: map
        });
	var marker4 = new google.maps.Marker({
            position: {lat: -33.468773, lng: -70.663807},
	    url: 'usuario-out-ong.html',
	    icon: '',
            map: map
        });
	var marker5 = new google.maps.Marker({
            position: {lat: -33.456773, lng: -70.635807},
	    url: 'usuario-out-ong.html',
            map: map

        });
	var marker6 = new google.maps.Marker({
            position: {lat: -33.478786, lng: -70.670819},
	    url: 'usuario-out-ong.html',
            map: map
        });

	marker1.url= 'usuario-in-ong.html';
	marker2.url= 'usuario-in-ong.html';
	marker3.url= 'usuario-in-ong.html';
	marker4.url= 'usuario-in-ong.html';
	marker5.url= 'usuario-in-ong.html';
	marker6.url= 'usuario-in-ong.html';


	    google.maps.event.addListener(marker1, 'click', function() {
	      window.location.href = marker1.url;
	    });
	    google.maps.event.addListener(marker2, 'click', function() {
	      window.location.href = marker2.url;
	    });
	    google.maps.event.addListener(marker2, 'click', function() {
	      window.location.href = marker2.url;
	    });

        if (navigator.geolocation) {

          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            }
                    var myCity = new google.maps.Circle({
    center: pos,
    radius: 15,
    strokeColor: "#0000FF",
    strokeOpacity: 0.7,
    strokeWeight: 2,
    fillColor: "#0000FF",
    fillOpacity: 0.4
  });

        myCity.setMap(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }
      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        var markerOne = new google.maps.Marker({
            position: centerOne

        });
      }

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKrwK5Ra7Lrbam0i1ifeMrlPHnN1Tctpk&callback=initMap">
    </script>
	  {% else %}
    <script>
      	
 
      function initMap() {
        var infoWindow;
        var beau850 = {lat: -33.4400124, lng: -70.6782374};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: beau850
        });
        infoWindow = new google.maps.InfoWindow;
	var marker1 = new google.maps.Marker({
            position: {lat: -33.458773, lng: -70.663807},
	    url: 'usuario-out-ong.html',
            map: map
        });
	var marker2 = new google.maps.Marker({
            position: {lat: -33.456773, lng: -70.665807},
	    url: 'usuario-out-ong.html',
            map: map

        });
	var marker3 = new google.maps.Marker({
            position: {lat: -33.458786, lng: -70.660819},
	    url: 'usuario-out-ong.html',
            map: map
        });
	var marker4 = new google.maps.Marker({
            position: {lat: -33.468773, lng: -70.663807},
	    url: 'usuario-out-ong.html',
	    icon: '',
            map: map
        });
	var marker5 = new google.maps.Marker({
            position: {lat: -33.456773, lng: -70.635807},
	    url: 'usuario-out-ong.html',
            map: map

        });
	var marker6 = new google.maps.Marker({
            position: {lat: -33.478786, lng: -70.670819},
	    url: 'usuario-out-ong.html',
            map: map
        });

	    google.maps.event.addListener(marker1, 'click', function() {
	      window.location.href = marker1.url;
	    });
	    google.maps.event.addListener(marker2, 'click', function() {
	      window.location.href = marker2.url;
	    });
	    google.maps.event.addListener(marker2, 'click', function() {
	      window.location.href = marker2.url;
	    });

        if (navigator.geolocation) {

          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            }
                    var myCity = new google.maps.Circle({
    center: pos,
    radius: 15,
    strokeColor: "#0000FF",
    strokeOpacity: 0.7,
    strokeWeight: 2,
    fillColor: "#0000FF",
    fillOpacity: 0.4
  });

        myCity.setMap(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }
      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        var markerOne = new google.maps.Marker({
            position: centerOne

        });
      }

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKrwK5Ra7Lrbam0i1ifeMrlPHnN1Tctpk&callback=initMap">
    </script>
{% endblock %}
